body {
    background-color: #96FFF8;
    font-family: Georgia serif;
}

.container {
    margin: 50px auto;
    width: 1000px;
}

.header {
    text-align: left;
    background: #123BA1;
    color: #FFFFFF;
    font-weight: bold;
}

.header h1 {
    margin: 0;
    padding: 10px;
    font-style: italic;
}

.navigation-bar {
    background-color: #2788A1;
}

.navigation-bar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation-bar li {
    display: inline-block;
}

.navigation-bar a {
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    color: #214753;
    font-weight: bold;
}

.navigation-bar a:hover {
    background-color: #214753;
    color: #548BA1;
}

.main-section {
    padding: 10px;
    background-color: #E0EEF7;
}

.footer {
    font-size: small;
    text-align: center;
}

.footer p {
    margin: 0;
}

.text--justified {
    text-align: justify;
}

.text--italic {
    font-style: italic;
}

.text--bold {
    font-weight: bold;
}

.ui-control {
    border-color: #214753;
    background-color: #E0EEF7;
    border-width: 1px;
    padding: 1px;
    font-family: Georgia, serif;
    font-size: 16px;
}

.ui-control:focus {
    outline: none;
}

.ui-button {
    height: 24px;
    padding-left: 2px;
    padding-right: 2px;
}

.ui-input {
    height: 20px;
}

.ui-textarea {

}

.hidden {
    display: none;
}

.data-table {
    border-collapse: collapse;
}

.data-table td, .data-table th {
    padding: 6px;
}

.data-table thead {
    font-weight: bold;
    background-color: #548BA1;
    color: #214753;
}

.data-table tbody tr:hover {
    background-color: #96C4D8;
}
